<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFWB5gHMeCWuDjcM7vv02oSHPbvL7c1SI</string>
	<key>GCM_SENDER_ID</key>
	<string>60146773770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSmartChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-274f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-274f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60146773770:ios:23a98d43358cd1aee614f3</string>
</dict>
</plist>